<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <h3>@ViewBag.Title</h3>
            <hr />

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <ul>
                        <li>@Html.ActionLink("Simulate exception", "GenerateException", "Home")</li>
                    </ul>
                    <li>Value:</li>
                    <ul style="list-style-type: circle;">
                        <li>@Html.ActionLink("Test 1", "Show/123", "Value")</li>
                        <li>@Html.ActionLink("Test 2", "123", "Value")</li>
                        <li>@Html.ActionLink("Test 3", "", "Value")</li>
                    </ul>
                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                    <li>@Html.ActionLink("Custom Model Binder", "Index", "Person")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET MVC 5</p>
        </footer>
    </div>

</body>
</html>
