@using WEB_TASK1.Models

@model List<UserModel>

@{
    ViewData["Title"] = "Users";
}
<div style="display:flex; flex-direction:row; width:100%; justify-content:space-between">
    <div style="display: flex; flex-direction: column; width:45%">

        <h1>Find @ViewData["Title"]</h1>

        <div class="form-group">
            <input type="text" class="form-control" id="UsedIdFind" placeholder="Search" pattern="" required>
            <small id="passHelp" class="form-text text-muted">Еhis field must be filled</small>
        </div>

        <button class="btn btn-primary my-2 my-sm-0" type="submit" id="Search_btn">Search</button>

        <h1>@ViewData["Title"] Delete</h1>

        <div class="form-group">
            <label for="UsedIdDelete">ID User</label>
            <input type="text" class="form-control" id="UsedIdDelete" placeholder="Enter Id" required pattern="[0-9]">
            <small id="passHelp" class="form-text text-muted">Еhis field must be filled</small>
        </div>

        <button type="submit" class="btn btn-danger" id="Delete_btn_sbmit">Delete</button>

    </div>

    <div style="display: flex; flex-direction: column; width: 45% ">
        <h1>@ViewData["Title"] Edit</h1>

        <div class="form-group">
            <label for="UserId">User ID</label>
            <input type="text" class="form-control" id="UserId" placeholder="Enter id" required pattern="[0-9]">
        </div>
        <div class="form-group">
            <label for="UserName">Name</label>
            <input type="text" class="form-control" id="UserName" placeholder="Name" required pattern="^[A-Za-z]+$">
        </div>
        <div class="form-group">
            <label for="UserSurname">Surname</label>
            <input type="text" class="form-control" id="UserSurname" placeholder="Surname" name="userSurname" required pattern="^[A-Za-z]+$">
        </div>
        <button type="submit" class="btn btn-success" id="Edit_btn_sbmit">Submit</button>

    </div>
</div>

<div class="col-md-12" style="margin-top: 50px">
    <table id="tblStudent" class="table table-striped">
        <thead class="thead-light">
            <tr class="col-md-12">
                <th align="left" class="productth">ID</th>
                <th align="left" class="productth">User Name</th>
                <th align="left" class="productth">User Surname</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts
{
    <script type="text/javascript">
        LoadAllUsers(null);
    $(function () {
        $("#Search_btn").click(function () {
            var name = $("#UsedIdFind").val();

            if (name != null) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FindUser", "Home")',
                    dataType: 'json',
                    data: { userName: name },
                    success: function (user) {
                        LoadAllUsers(user);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }
        });
     });

    $(function () {
        $("#Delete_btn_sbmit").click(function () {
            var userId = $("#UsedIdDelete").val();

            if (userId != null) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DeleteUser", "Home")',
                    dataType: 'json',
                    data: { id: userId },
                    success: function (user) {
                        LoadAllUsers();
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            }
        });
    });

        $(function () {

            $("#Edit_btn_sbmit").click(function () {
                var user ={
                    userId: $("#UserId").val(),
                    userName: $("#UserName").val(),
                    userSurname: $("#UserSurname").val()
                };

                if (user.userName != null && user.userSurname != null) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditUser", "Home")',
                        dataType: 'json',
                        data: { userModel: user },
                        success: function () {
                            LoadAllUsers();
                        },
                        error: function () {
                            alert("Error while inserting data");
                        }
                    });
                    return false;
            }
        });
    });

        function LoadAllUsers(data) {

            $("#tblStudent tbody tr").remove();

            if (jQuery.isEmptyObject(data)) {
                $.ajax({
                    url: '@Url.Action("GetUsers", "Home")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',

                    success: function (data) {

                        var items = '';

                        $.each(data, function (i, item) {
                            var rows = "<tr>"
                                + "<td class='prtoducttd'>" + item.userId + "</td>"
                                + "<td class='prtoducttd'>" + item.userName + "</td>"
                                + "<td class='prtoducttd'>" + item.userSurname + "</td>"
                                + "</tr>";
                            $('#tblStudent tbody').append(rows);
                        });
                    },

                    error: function (ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });

            } else {
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td class='prtoducttd'>" + item.userId + "</td>"
                        + "<td class='prtoducttd'>" + item.userName + "</td>"
                        + "<td class='prtoducttd'>" + item.userSurname + "</td>"
                        + "</tr>";
                    $('#tblStudent tbody').append(rows);
                });
            }
        return false;
    }
    </script>
}
